{{#performer}}
<performer typeCode="PRF">
{{#functionCode}}<functionCode code="{{ code }}" codeSystem="{{ codeSystemOid }}" codeSystemName="{{ codeSystem }}" {{#displayName}}displayName="{{ . }}"{{/displayName}}>{{#displayName}}<originalText>{{.}}</originalText>{{/displayName}}</functionCode>{{/functionCode}}
  <time>
  {{#start_date}}<low value="{{ date_as_number(start_date) }}"/>{{/start_date}}
  {{#end_date}}<high value="{{ date_as_number(end_date) }}"/>{{/end_date}}
   </time>
  <assignedEntity classCode="ASSIGNED">
    {{#each(cda_identifiers)}}<id {{#root}}root="{{.}}"{{/root}} extension="{{extension}}"/>{{/}}
    {{#code}}<code code="{{ code }}" codeSystem="{{ codeSystemOID }}" codeSystemName="{{ codeSystem }}" {{#displayName}}displayName="{{ . }}"{{/displayName}}/>{{/code}}
    {{#each(addresses)}}
    <addr {{#use}}use="{{.}}"{{/use}}>
      {{#street}}<streetAddressLine>{{.}}</streetAddressLine>{{/street}}
      <city>{{city}}</city>
      <state>{{state}}</state>
      <postalCode>{{zip}}</postalCode>
      <country>{{country}}</country>
    </addr>{{/}}
    {{#addresses}}<addr/>{{/addresses}}
    {{^telecoms}}<telecom/>{{/telecoms}}
    {{#each(telecoms)}}<telecom value="{{value}}" use="{{use}}" />{{/}}
    <assignedPerson>
    <name>
      {{#prefix }}<given>{{ . }}</given>{{/prefix }}
      <given>{{given_name}}</given>
      <family>{{family_name}}</family>
      {{#suffix}}<suffix>{{.}}</suffix>{{/suffix}}
    </name>
    </assignedPerson>
    {{#organization}}
    <representedOrganization>
    {{#each(cda_identifiers)}}<id {{#root}}root="{{.}}"{{/root}} extension="{{extension}}"/>{{/}}
    <name>{{name}}</name>
    {{#telecoms}}{{#each(telecoms)}}<telecom value="{{value}}" use="{{use}}" />{{/}}{{/telecoms}}
    {{^telecoms}}<telecom/>{{/telecoms}}
    {{#addresses}}{{#each(addresses)}}
    <addr {{#use}}use="{{.}}"{{/use}}>
    {{#street}}<streetAddressLine>{{.}}</streetAddressLine>{{/street}}
      <city>{{city}}</city>
      <state>{{state}}</state>
      <postalCode>{{zip}}</postalCode>
      <country>{{country}}</country>
    </addr>
    {{/}}{{/addresses}}
    {{^addresses}}<addr/>{{/addresses}}
    </representedOrganization>
    {{/organization}}
  </assignedEntity>
</performer>
{{/performer}}