<component>
  <!--Medications-->
  <section>
	<templateId root="2.16.840.1.113883.10.20.22.2.1" />
    <code code="10160-0" displayName="History of medication use" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC"/>
    <title>Medications</title>
    {{> ccda_narrative_block.ccda }}
    {{#each(entries)}}
    <entry>
      <!--CCD Medication activity - Required-->
      <substanceAdministration classCode="SBADM" moodCode="EVN">
        <templateId root="2.16.840.1.113883.10.20.22.4.16"/>
        <id root="{{ UUID_generate(nil) }}"/>
        <statusCode code="completed"/>
        <effectiveTime xsi:type="IVL_TS">
          <low {{{ value_or_null_flavor(as_point_in_time) }}}/>
          <high nullFlavor="UNK"/>
        </effectiveTime>
        {{> ccda_medication_admin_timing.ccda }}
        {{#route}}<routeCode code="{{ code }}" codeSystem="{{ codeSystemOid }}" codeSystemName="{{ codeSystem }}" {{#displayName}}displayName="{{ . }}"{{/displayName}}/>{{/route}}
        {{> ccda_medication_dose.ccda }}
        <consumable>
          <!--CCD Product - Required-->
          <manufacturedProduct classCode="MANU">
			    <templateId root="2.16.840.1.113883.10.20.22.4.23"/>
            <manufacturedMaterial>
            {{>ccda_code_with_reference.ccda}}
            <name>{{ description }}</name>
            </manufacturedMaterial>
          </manufacturedProduct>
        </consumable>
        {{#vehicle}}
        <participant typeCode="CSM">
          <participantRole classCode="MANU">
            <!-- Drug vehicle -->
            <templateId root="2.16.840.1.113883.10.20.22.4.24"/>
              <code code="412307009" displayName="drug vehicle" codeSystem="2.16.840.1.113883.6.96"/>
              <playingEntity classCode="MMAT">
              <code code="{{ code }}" codeSystem="{{ codeSystemOid }}" codeSystemName="{{ codeSystem }}" {{#displayName}}displayName="{{ . }}"{{/displayName}}/>
              {{#displayName}}<name>{{.}}</name>{{/displayName}}
            </playingEntity>
          </participantRole>
        </participant>
        {{/vehicle}}
        {{#indication}}{{>ccda_entry_detail_indication.ccda}}{{/indication}}
        {{#precondition}}{{>ccda_medication_precondition.ccda}}{{/precondition}}
        {{#reaction}}{{>ccda_entry_detail_reaction.ccda}}{{/reaction}}
        {{#severity}}{{>ccda_entry_detail_severity.ccda}}{{/severity}}
      </substanceAdministration>
    </entry>
    {{/}}
  </section>
</component>