{{#dose}}<doseQuantity {{#value}}value="{{value}}"{{/value}} {{#unit}}unit="{{.}}"{{/unit}}/>{{/dose}}
{{#rate}}<rateQuantity {{#value}}value="{{value}}"{{/value}} {{#unit}}unit="{{.}}"{{/unit}}/>{{/rate}}
<maxDoseQuantity {{^dose_restriction}}nullFlavor="UNK"{{/dose_restriction}}{{#dose_restriction}}{{^numerator}}{{^denominator}}nullFlavor="UNK"{{/denominator}}{{/numerator}}{{/dose_restriction}}>
{{^dose_restriction.numerator}}<numerator nullFlavor="UNK"/>{{/dose_restriction.numerator}}
{{#dose_restriction.numerator}}<numerator {{#value}}value="{{value}}"{{/value}} {{#unit}}unit="{{.}}"{{/unit}}/>{{/dose_restriction.numerator}}
{{^dose_restriction.denominator}}<denominator nullFlavor="UNK"/>{{/dose_restriction.denominator}}
{{#dose_restriction.denominator}}<denominator {{#value}}value="{{value}}"{{/value}} {{#unit}}unit="{{.}}"{{/unit}}/>{{/dose_restriction.denominator}}
</maxDoseQuantity>
