{{#preferred_code}}
  <code code="{{ preferred_code.code }}" codeSystem="{{ code_system_oid }}" codeSystemName="{{ code_set }}" displayName="{{ description }}">
{{/preferred_code}}
{{^preferred_code}}
<code nullFlavor="UNK">
{{/preferred_code}}
  <originalText><reference value="#{{ section }}-desc-{{ @index }}"/></originalText>
  {{#translation_codes}}
  <translation code="{{ code }}" codeSystem="{{ oid_for_code_system(code_set) }}" codeSystemName="{{ code_set }}"/>
  {{/translation_codes}}
</code>