<component>
  <!--Medications-->
  <section>
	<templateId root="2.16.840.1.113883.10.20.22.2.1" />
    <code code="10160-0" displayName="History of medication use" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC"/>
    <title>Medications</title>
    {{> ccda_narrative_block.ccda }}
    {{#each(entries)}}
    <entry>
      <!--CCD Medication activity - Required-->
      <substanceAdministration classCode="SBADM" moodCode="EVN">
        <templateId root="2.16.840.1.113883.10.20.22.4.16"/>
        <id root="{{ UUID_generate(nil) }}"/>
        <statusCode code="completed"/>
        <effectiveTime xsi:type="IVL_TS">
          <low {{{ value_or_null_flavor(as_point_in_time) }}}/>
          <high nullFlavor="UNK"/>
        </effectiveTime>
        <consumable>
          <!--CCD Product - Required-->
          <manufacturedProduct classCode="MANU">
			    <templateId root="2.16.840.1.113883.10.20.22.4.23"/>
            <manufacturedMaterial>
            {{>ccda_code_with_reference.ccda}}
            <name>{{ description }}</name>
            </manufacturedMaterial>
          </manufacturedProduct>
        </consumable>
      </substanceAdministration>
    </entry>
    {{/}}
  </section>
</component>