<component>
  <!--Encounters-->
  <section>
    <templateId root="2.16.840.1.113883.10.20.22.2.22" /> <!-- CCDA Template id -->
    <!--Encounters section template-->
    <code code="46240-8" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of encounters"/>
    <title>Encounters</title>
    {{> ccda_narrative_block.ccda }}
    {{#each(entries)}}
    <entry typeCode="DRIV">
      <encounter classCode="ENC" moodCode="EVN">
		    <templateId root="2.16.840.1.113883.10.20.22.4.49"/>
        <!-- Encounter activity template -->
        <id root="{{ UUID_generate(nil) }}"/>
        {{>ccda_code_with_reference.ccda}}
        <text>
          <reference value="#encounters-desc-{{ @index }}"/>
        </text>
        <effectiveTime {{{ value_or_null_flavor(as_point_in_time) }}}/>
        {{#indication}}{{> ccda_entry_detail_indication.ccda}}{{/indication}}
        {{>ccda_performer.ccda}}
      </encounter>
    </entry>
    {{/}}
  </section>
</component>