<addr {{#use}}use="{{.}}"{{/use}}>
{{#street}}
<streetAddressLine>{{.}}</streetAddressLine>
{{/street}}
<city>{{city}}</city>
<state>{{state}}</state>
<postalCode>{{zip}}</postalCode>
<country>{{country}}</country>
</addr>