{{#patient.header}}
  {{#each(authors)}}
    {{>cat1_author.cat1 }}
  {{/}}
  <!-- SHALL have 1..* author. MAY be device or person.
  The author of the CDA document in this example is a device at a data submission vendor/registry. -->

  <!-- The custodian of the CDA document is the same as the legal authenticator in this
  example and represents the reporting organization. -->
  <!-- SHALL -->
  <custodian>
    <assignedCustodian>
  {{#custodian.organization}}<representedCustodianOrganization>{{>cat1_organization.cat1 }}</representedCustodianOrganization>{{/custodian.organization}}
    </assignedCustodian>
  </custodian>
  <!-- The legal authenticator of the CDA document is a single person who is at the
  same organization as the custodian in this example. This element must be present. -->
  <!-- SHALL -->
  <legalAuthenticator>
  <!-- SHALL -->
    <time value="{{date_as_number(legal_authenticator.time)}}"/>
    <!-- SHALL -->
    <signatureCode code="S"/>
    <assignedEntity>
      <!-- SHALL ID -->
      {{#each(legal_authenticator.ids)}}{{>cat1_id.cat1 }}{{/}}
      {{#each(legal_authenticator.addresses)}}{{>cat1_address.cat1 }}{{/}}
      {{#each(legal_authenticator.telecoms)}}{{>cat1_telecom.cat1 }}{{/}}
    {{#legal_authenticator.person}}
    <assignedPerson>
      <name>
        {{#legal_authenticator.person.prefix}}<suffix>{{.}}</suffix>{{/legal_authenticator.person.prefix}}
        {{#legal_authenticator.person.given_name}}<given>{{.}}</given>{{/legal_authenticator.person.given_name}}
        {{#legal_authenticator.person.family_name}}<family>{{.}}</family>{{/legal_authenticator.person.family_name}}
        {{#legal_authenticator.person.suffix}}<suffix>{{.}}</suffix>{{/legal_authenticator.person.suffix}}
      </name>
    </assignedPerson>
    {{/legal_authenticator.person}}
    {{#legal_authenticator.organization}}<representedOrganization>{{>cat1_organization.cat1 }}</representedOrganization>{{/legal_authenticator.organization}}
  </assignedEntity>
  </legalAuthenticator>
{{/patient.header}}
{{^patient.header}}
  {{>cat1_header_no_header.cat1 }}
{{/patient.header}}

