{{#patient.provider_performances}}<documentationOf typeCode="DOC">
<serviceEvent classCode="PCPR">
{{#each(performer)}}
<performer typeCode="PRF">
  <assignedEntity classCode="ASSIGNED">
    {{#each(cda_identifiers)}}<id {{#root}}root="{{.}}"{{/root}} extension="{{extension}}"/>{{/}}
    {{#code}}<code code="{{ code }}" codeSystem="{{ codeSystemOID }}" codeSystemName="{{ codeSystem }}" {{#displayName}}displayName="{{ . }}"{{/displayName}}>{{/code}}
    {{#each(addresses)}}
    <addr {{#use}}use="{{.}}"{{/use}}>
      {{#street}}<streetAddressLine>{{.}}</streetAddressLine>{{/street}}
      <city>{{city}}</city>
      <state>{{state}}</state>
      <postalCode>{{zip}}</postalCode>
      <country>{{country}}</country>
    </addr>
    {{/}}
    {{#each(telecoms)}}<telecom value="{{value}}" use="{{use}}" />{{/}}
    <assignedPerson>
    <name>
      {{#prefix }}<given>{{ . }}</given>{{/prefix }}
      <given>{{given_name}}</given>
      <family>{{family_name}}</family>
      {{#suffix}}<suffix>{{.}}</suffix>{{/suffix}}
    </name>
    </assignedPerson>
    {{#organization}}
    <representedOrganization>
    {{#each(cda_identifiers)}}<id {{#root}}root="{{.}}"{{/root}} extension="{{extension}}"/>{{/}}
    <name>{{name}}</name>
    {{#each(telecoms)}}<telecom value="{{value}}" use="{{use}}" />{{/}}
    {{#each(addresses)}}
    <addr {{#use}}use="{{.}}"{{/use}}>
    {{#street}}<streetAddressLine>{{.}}</streetAddressLine>{{/street}}
      <city>{{city}}</city>
      <state>{{state}}</state>
      <postalCode>{{zip}}</postalCode>
      <country>{{country}}</country>
    </addr>
    {{/}}
    </representedOrganization>
    {{/organization}}
  </assignedEntity>
</performer>
{{/}}
</serviceEvent>
</documentationOf>{{/patient.provider_performances}}
