{{#preferred_code}}{{#each(codes)}}
<code code="{{ . }}" codeSystem="{{ code_system_oid }}" codeSystemName="{{ codeSystem }}" {{#displayName}}displayName="{{ . }}"{{/displayName}}>
{{/}}{{/preferred_code}}
{{^preferred_code}}
<code nullFlavor="UNK">
{{/preferred_code}}
<originalText><reference value="#{{ section }}-desc-{{ @index }}"/></originalText>
{{#each(translation_codes)}}
{{#each(codes)}}
<translation code="{{ . }}" codeSystem="{{ oid_for_code_system(codeSystem) }}" codeSystemName="{{ codeSystem }}" {{#displayName}}displayName="{{ . }}"{{/displayName}}/>
{{/}}
{{/}}
</code>